<div class="users-list hide-user-list" id="user-list">
  <h1 style="color: white;">Online Users</h1>
  <div class="list-group" id="myList">
    <% for(let key in users) {%>
    <!-- <button class="btn">
      <div id="<%= key %>" class="list-group-item list-group-item-action" onclick="playWith('<%= key %>')">
        <%= users[key].user_name %>
      </div>
    </button> -->
    <button id="<%= key %>" class="btn list-group-item list-group-item-action" onclick="playWith('<%= key %>')">
      <%= users[key].user_name %>
    </button>
    <% } %>
  </div>
</div>